.policy {
    &__content {
        max-width: 1200px;
        padding-top: 40px;
        padding-bottom: 40px;

        @include responsive1279 {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        @include responsive1023 {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        h2 {
            padding-top: 40px;
            padding-bottom: 20px;

            @include responsive1519 {
                padding-top: 30px;
            }

            @include responsive1279 {
                padding-top: 20px;
                padding-bottom: 10px;
            }

            &:first-child {
                padding-top: 0;
            }
        }

        p {
            padding-bottom: 15px;
            opacity: 0.7;

            &:has( + ul, + ol, + h2) {
                padding-bottom: 0;
            }
        }

        ul {
            list-style: disc;
            padding-left: 20px;
            opacity: 0.7;
        }

        a {
            text-decoration: underline;
        }

    }
}