body {
  font-family: $fontMain;
  background-color: $baseColorDark;
  color: $colorWhite;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
  font-variant-ligatures: none;

  &:has( .main-black-bg) {
    background-image: linear-gradient(0deg, #111516, #000, #000, #111516);
  }

  @include responsive1799 {
    font-size: 18px;
  }

  @include responsive1519 {
    font-size: 16px;
  }

  @include responsive1279 {
    font-size: 14px;
  }

  &.modal-open,
  &.hidden {
    overflow: hidden;
  }
}

div {
  scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    left: 5px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 10px;
  }
}

picture {
  display: contents;

  img {
    position: relative;
    display: block;
    width: 100%;
  }
}

svg {
  transition: all 0.3s;

  &:hover {
    transform: scale(1.03);
  }
}

.container {
  width: 100%;
  max-width: 1520px;
  padding: 0;
  margin: 0 auto;

    @include responsive1799 {
        max-width: 1160px;
    }

    @include responsive1279 {
        padding-left: 100px;
        padding-right: 100px;
    }

    @include responsive1023 {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;

    @include responsive1799 {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include responsive1519 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include responsive1023 {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;

    footer,
    .footer {
        margin-top: auto;
    }
}

.overlay {
  background-color: $baseColorDark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &.visible {
    pointer-events: initial;
    opacity: 0.9;
  }
}

.main-blur {
  position: absolute;
  width: 570px;
  height: 570px;
  background: #8A8B8B;
  filter: blur(150px);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.4;
  
  &--1 {
    top: 900px;
    right: -230px;

    @include responsive1799 {
      display: none;
    }
  }

  &--2 {
    width: 900px;
    height: 900px;
    top: 1500px;
    left: -570px;
  }

  &--3 {
    top: 7000px;
    right: -230px;
  }

  &--4 {
    width: 900px;
    height: 900px;
    top: 900px;
    left: -570px;

    @include responsive1519 {
      width: 800px;
      height: 800px;
      top: 800px;
      left: -470px;
    }

    @include responsive1279 {
      width: 700px;
      height: 700px;
      top: 600px;
      left: -370px;
    }

    @include responsive1023 {
      width: 260px;
      height: 260px;
      top: 1300px;
      left: -100px;
    }
  }

  &--5 {
    width: 900px;
    height: 900px;
    top: 930px;
    right: -570px;

    @include responsive1799 {
      width: 500px;
      height: 500px;
      top: 1000px;
      right: -250px;
    }

    @include responsive1519 {
      width: 440px;
      height: 440px;
      top: 900px;
      right: -270px;
    }

    @include responsive1279 {
      width: 380px;
      height: 380px;
      top: 800px;
      right: -200px;
    }

    @include responsive1023 {
      width: 140px;
      height: 150px;
      top: 1700px;
      right: -100px;
    }
  }
}

.main-bg {
  position: absolute;
  background-image: linear-gradient(175.13deg, rgba(0, 0, 0, 0) 13.48%, rgba(0, 0, 0, 0.96) 63.59%), url(../img/main-bg.webp);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0.6;

  &--1 {
    top: 4000px;
    left: 0;
    width: 2000px;
    height: 961px;
    transform: rotate(-30deg);

    @include responsive1799 {
      top: 3500px;
    }

    @include responsive1519 {
      top: 3000px;
      width: 1500px;
      height: 700px;
    }

    @include responsive1279 {
      top: 2700px;
      width: 1300px;
      height: 650px;
    }

    @include responsive1023 {
      top: 3100px;
      width: 720px;
      height: 330px;
      transform: rotate(-30deg);
    }
  }
  
  &--2 {
    display: none;

    @include responsive1279 {
      display: block;
      top: 1500px;
      width: 900px;
      height: 360px;
      transform: rotate(90deg);
      left: -200px;
    }

    @include responsive1023 {
      top: 2400px;
      width: 650px;
      height: 300px;
      transform: rotate(90deg);
      left: -200px;
    }
  }

  &--3 {
    top: 1800px;
    left: 0;
    width: 1800px;
    height: 961px;
    transform: rotate(-30deg);

    @include responsive1799 {
      top: 1300px;
    }

    @include responsive1519 {
      top: 1200px;
      width: 1500px;
      height: 700px;
    }

    @include responsive1279 {
      top: 1100px;
      width: 1300px;
      height: 650px;
    }

    @include responsive1023 {
      top: 1400px;
      width: 720px;
      height: 330px;
      transform: rotate(-30deg);
    }
  }

  &--4 {
    top: 700px;
    left: -500px;
    width: 1800px;
    height: 961px;
    transform: rotate(-30deg);

    @include responsive1519 {
      top: 700px;
      left: -300px;
      width: 1500px;
      height: 700px;
    }

    @include responsive1279 {
      top: 300px;
      left: -200px;
      width: 1300px;
      height: 650px;
    }

    @include responsive1023 {
      top: 800px;
      left: -60px;
      width: 520px;
      height: 240px;
      transform: rotate(-30deg);
    }
  }

  &--5 {
    top: 650px;
    width: 1800px;
    height: 961px;
    transform: rotate(-5deg);

    @include responsive1799 {
      top: 400px;
    }

    @include responsive1519 {
      top: 300px;
      width: 1500px;
      height: 700px;
    }

    @include responsive1279 {
      top: 400px;
      width: 1000px;
      height: 500px;
    }

    @include responsive1023 {
      top: 700px;
      width: 400px;
      height: 180px;
    }
  }

   &--6 {
    bottom: -100px;
    left: 0px;
    width: 1800px;
    height: 961px;
    transform: rotate(-30deg);

    @include responsive1519 {
      width: 1500px;
      height: 700px;
    }

    @include responsive1279 {
      width: 1000px;
      height: 500px;
    }

    @include responsive1023 {
      width: 400px;
      height: 180px;
    }
  }

}

.video-wrap {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .play {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF33;
    backdrop-filter: blur(7px);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.3s;
    z-index: 3;

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-40%, -50%);
      width: 29px;
      height: 29px;
      background: url('../img/svg/play.svg') center center / cover no-repeat;
      transition: all 0.3s;
    }

    &.hide {
      width: 0;
      height: 0;

      &::after {
        width: 0;
        height: 0;
      }
    }
  }

}


.gradient-text {
  background: linear-gradient(0deg, #FFFFFF 32.04%, #474646 84.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  color: transparent;
}

// доделать когда доберусь

.breadcrumbs {
  position: relative;
  z-index: 3;
  padding-top: 25px;
  padding-bottom: 25px;

  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  li {
    &:first-child {
      .breadcrumbs-link {
        &::before {
          display: none;
        }
      }
    }
  }

  .breadcrumbs-link {
    position: relative;

    @include before {
      left: -32px;
      top: 50%;
      transform: translateY(-50%);
      background-image: url("../img/svg/breadcrumbs-divider.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
    }
  }

  span.breadcrumbs-link {
    color: #FFB55E;
  }

  .breadcrumbs__back-link {
    display: flex;
    align-items: center;
    gap: 17px;

    &::before {
      content: '';
      height: 12px;
      width: 10px;
      background-image: url('../img/svg/pagin-arrow.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(180deg);
    }
  }

}


.check-block {
  input {
    display: none;

    &:checked + label {
      &:before {
        background-color: $colorWhite;
      }

      &::after {
        background-color: $colorWhite;
        opacity: 1;
      }
    }
  }

  label {
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding-left: 34px;
    text-decoration-color: transparent;
    text-decoration-skip-ink: none;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
    display: block;
    align-items: center;
    gap: 10px;
    color: $colorWhite;


    @include responsive1279 {
      font-size: 12px;
    }

    @include responsive1023 {
      font-size: 10px;
    }

    a {
      text-decoration: underline;
      opacity: 0.3;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }

    @include before {
      left: 0;
      top: 50%;
      width: 24px;
      height: 24px;
      border: 0;
      border-radius: 1px;
      overflow: hidden;
      transform: translateY(-50%);
      background-color: $colorWhite;

    }

    @include after {
      background-color: $colorWhite;
      left: 0;
      top: 50%;
      width: 24px;
      height: 24px;
      opacity: 0;
      border-radius: 1px;
      overflow: hidden;
      transform: translateY(-50%);
      background-position: center;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 9.5L13.8077 22L33.5 2' stroke='%23000000' stroke-width='4'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: 13px

    }
  }
}

.base-section {
  position: relative;

  &--bg-right {
     &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: calc(100% - 140px);
      height: 100%;
      background-color: #FFF2F20A;
      z-index: -1;
      border-radius: 5px;

      @include responsive1799 {
        width: calc(100% - 120px);
      }

      @include responsive1519 {
        width: calc(100% - 45px);
      }

      @include responsive1023 {
        width: 100%;
      }
    }
  }

  &--bg-left {
     &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 140px);
      height: 100%;
      background-color: #FFF2F20A;
      z-index: -1;
      border-radius: 5px;

      @include responsive1799 {
        width: calc(100% - 120px);
      }

      @include responsive1519 {
        width: calc(100% - 45px);
      }

      @include responsive1023 {
        width: 100%;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 70px;

    @include responsive1519 {
      gap: 40px;
    }

    &--two-col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include responsive1023 {
        grid-template-columns: 1fr;
        row-gap: 20px;
      }
    }
  }


  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &:has( .base-section__title) {
      justify-content: space-between;
      height: 100%;
    }

    &--center {
      justify-content: center;

      &:has( .base-section__title) {
        justify-content: center;
        height: 100%;
      }
    }
  }

  &__image-container {
    border-radius: 5px;
    overflow: hidden;
  }

 
}


.swiper-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;

  &__button {
      background-image: url("../img/svg/arrow-right.svg");
      width: 30px;
      height: 30px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 0.3s;

      &--prev {
        transform: rotate(180deg);
        left: -100px;

        &:hover {
            transform: rotate(180deg) scale(1.1);
        }

        &::after {
            content: none;
        }
    }

    &--next {
        right: 0px;

        &:hover {
            transform: scale(1.1);
        }

        &::after {
            content: none;
        }
    }
  }
}


.pagination {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: all 0.3s;

    @include hover {
      opacity: 1;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--active {
      opacity: 1;
    }

    &--prev {

      .pagination__link {
        display: flex;
        transform: rotate(180deg);
        background-image: url("../img/svg/pagin-arrow.svg");
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include hover {
          transform: rotate(180deg) scale(1.1);
        }
      }
      

    }

    &--next {
      .pagination__link {
        display: flex;
        background-image: url("../img/svg/pagin-arrow.svg");
        width: 24px;
        height: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @include hover {
          transform: scale(1.1);
        }
      }

    }
  }

}


.header__logo-wrap{
  position: relative;
  &::after {
    content: '';
    position: absolute;
    background-image: url("../img/blink.png");
    top: -6px;
    left: 30px;
    width: 48px;
    height: 48px;
    z-index: 2;
    animation-name: blinker;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive1799 {
      left: 25px;
    }

    @include responsive1519 {
      top: -10px;
      left: 12px;
    }

    @include responsive1279 {
      width: 30px;
      height: 30px;
      left: 0;
    }

    @include responsive1023 {
      width: 29px;
      height: 25px;
      left: 3px;
    }
    
  }
}

.footer-top__logo-wrap {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-image: url("../img/blink.png");
    top: -6px;
    left: 30px;
    width: 48px;
    height: 48px;
    z-index: 2;
    animation-name: blinker;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    @include responsive1799 {
      left: 25px;
    }

    @include responsive1519 {
      top: -10px;
      left: 12px;
    }

    @include responsive1279 {
      width: 30px;
      height: 30px;
      left: 12px;
    }

    @include responsive1023 {
      width: 29px;
      height: 25px;
      left: 12px;
    }
    
  }
}


.input-item {
  width: 100%;

  input {
    width: 100%;
    height: 65px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 1px $colorWhite;
    border-radius: 0;
    font-size: 24px;
    padding: 0;
    color: $colorWhite;

    @include responsive1023 {
      font-size: 20px;
    }

    @include responsive767 {
      height: 45px;
    }

    &::placeholder {
      text-transform: uppercase;
      opacity: 0.6;
    }
  }

  textarea {
    width: 100%;
    height: 112px;
    background-color: $colorWhite;
    border-radius: 9px;
    border: 0;
    padding: 12px 16px;
  }
}



.radio-block {
  position: relative;

  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding-left: 17px;
    cursor: pointer;

    @include before {
      left: -10px;
      top: 2px;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: solid 1px $colorBlack;

      @include responsive1519 {
        top: 0;
      }
    }

    @include after {
      left: -7px;
      top: 5px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $colorBlack;
      opacity: 0;

      @include responsive1519 {
        top: 3px;
      }
    }

    @include responsive1519 {
      font-size: 12px;
    }
  }

  input {
    &:checked {
      & + ::after {
        opacity: 1;
      }
    }
  }
}

// доделать когда доберусь