@keyframes blinker {
  from { 
        opacity: 1;
        // scale: 1;
    }
  50% { 
        opacity: 0; 
        // scale: 0;
    }
  to { 
        opacity: 1; 
        // scale: 1;
    }
}

@keyframes stars {
  0%, 50%, 100% {opacity: 0;}
  5%, 45% {opacity: 1;}
}