.h-big {
  font-family: $fontMainTitle;
  font-size: 180px;
  line-height: 100%;
  font-weight: 700;

  @include responsive1799 {
    font-size: 150px;
  }

  @include responsive1519 {
    font-size: 130px;
  }

  @include responsive1279 {
    font-size: 110px;
  }

  @include responsive1023 {
    font-size: 80px;
  }
}

h1,
.caption--h1 {
  font-family: $fontMainTitle;
  font-size: 100px;
  line-height: 110%;
  font-weight: 700;

  @include responsive1799 {
    font-size: 80px;
  }

  @include responsive1519 {
    font-size: 70px;
  }

  @include responsive1279 {
    font-size: 56px;
  }

  @include responsive1023 {
    font-size: 32px;
  }
}

h2,
.caption--h2 {
  font-family: $fontMain;
  font-size: 40px;
  font-weight: 400;
  line-height: 100%;

  @include responsive1799 {
    font-size: 32px;
  }

  @include responsive1519 {
    font-size: 28px;
  }

  @include responsive1279 {
    font-size: 26px;
  }

  @include responsive1023 {
    font-size: 22px;
    line-height: 120%;
  }
}

h3,
.caption--h3 {
  font-family: $fontMain;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;

  @include responsive1799 {
    font-size: 28px;
  }

  @include responsive1519 {
    font-size: 24px;
  }

  @include responsive1279 {
    font-size: 22px;
  }

  @include responsive1023 {
    font-size: 18px;
  }
}

h4,
.caption--h4 {
  font-family: $fontMain;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;

  @include responsive1799 {
    font-size: 18px;
  }

  @include responsive1519 {
    font-size: 16px;
  }

  @include responsive1279 {
    font-size: 14px;
  }

}


